  <div class="footer">
    <div class="container grid">
      <div class="col-12">
        &copy; Miguel Angel
        <a href="#">Aviso legal</a>
        <a href="/contacto/">Contacto</a>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie_svg.min.js"></script>  
  <script src="/assets/scripts/loti.js"></script>

  <script src="/assets/scripts/animaciones.js"></script>
  
  <script src="/assets/scripts/nav.js"></script>
  <script src="/assets/scripts/basicScroll.min.js"></script>
  <script src="/assets/scripts/basicScrollStart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  </body>
</html>