---
layout: layouts/base.njk
title: Quién soy
eleventyNavigation:
  key: quiensoy
  title: quién soy
  order: 4
---

<div class="col-5 col-md-4 col-sm-3 col-xs-6 quien-soy-titulo">
  <h1 class="font-2 text-headline">¿Quién soy?</h1>
</div>

<div class="col-6 quien-soy-content">
  <img class="quien-soy-foto" src="/assets/images/miguel.jpg" alt="Michaella Zena">
  <h1>Ingeniero en Sistemas Computacionales</h1><br><br>
  <p>  
Responsable, proactivo, adaptable y con liderazgo, con habilidad para trabajar en equipo y entusiasta por los retos, autodidacta con filosofía por el mejoramiento continuo.  </p>
</div>